* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Ubuntu, sans-serif;
}

.containor {
    height: 600px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #2c2e31;
}

.containor h1 {
    font-size: 50px;
    font-weight: 100;
}

.details {
    height: 200px;
    width: 45%;
    background-color: #5a5c5fb1;
    border: 1px solid gray;
    margin: 20px;
    padding: 20px;
    margin-top: 40px;
    margin-left: 380px;
    text-align: left;
}

.details ul>li {
    padding: 10px;
    list-style-type: none;
}

.details a {
    color: skyblue;
    text-decoration: none;
}

.details ul>li::before {
    content: "✔️";
    position: relative;
    padding: 10px;
    left: 0;
}

.random {
    height: 450px;
    width: 50%;
    margin-top: 50px;
    margin-left: 370px;
    background-color: white;
    box-shadow: 0px 0px 10px gray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.random img {
    object-fit: cover;
}

.random-details {
    height: 100px;
    width: 100%;
    color: black;
    align-items: center;
    text-align: center;
    font-size: 25px;
    margin: 10px;
    padding: 10px;
}

.random-info {
    height: 88px;
    width: 100%;
    align-items: center;
}

.random-info i {
    color: rgba(128, 128, 128, 0.503);
    font-size: 30px;
    cursor: pointer;
    padding: 30px;
    transition: 0.2s;
}


.random-info i:hover {
    transform: translateY(-10px);
}

.lern {
    height: 250px;
    width: 50%;
    margin-top: 200px;
    margin-left: 360px;
    margin-bottom: 150px;
    box-shadow: 0px 0px 5px gray;
    border-radius: 5px;
    text-align: center;
    color: gray;
}

.lern p strong {
    font-weight: bolder;
}

.lern .p1 {
    color: black;
    font-size: 24px;
    font-weight: 100;
}

.lern button {
    padding: 13px 30px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    background: greenyellow;
}

.space {
    height: 100px;
    width: 100%;
    margin-top: 250px;
}